<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lee.notice_mapper">

<insert id="notice_insert" parameterType="String">
	insert into notice values('0', #{nsubject}, #{nwriter}, #{npass}, #{ntext}, now())
</insert>

<insert id="noticein" parameterType="String">
	insert into notice(ndix, nsubject, nwriter, npass, ntext, ndate)
	values ('0', #{nsubject}, #{nwriter}, #{npass}, #{ntext}, now())
</insert>

</mapper>