<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.notice_mapper">

	<select id="noticelist" resultType="kr.co.project.notice_DTO">
		select * from notice order by nidx desc
	</select>

	<delete id="noticedel" parameterType="String">
		delete from notice where nidx=${nidx}
	</delete>
</mapper>